body{
    border-color: aqua;
    width: 290px;
    height: 345px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-left: 3px dotted rgb(0, 145, 255);
}
.time{
    width: 50%;
}
#appointmentDate{
    font-weight: 650;
    color: green;
    font-size: large;
}

#timerDetails{
    color: blue;
    font-weight: bold;
}